@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Body Styles */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #ffc0cb;
}

body {
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Add smooth scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body.loaded {
    overflow: auto;
}

/* WebGL Container Styles */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
}

/* Section Styles */
section {
    height: 100vh; /* Full viewport height */
    width: 100%;
    scroll-snap-align: start;
    position: relative;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Container Styles */
section .container {
    max-width: 1360px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
}

section.one .container {
    grid-template-areas: 'content ..';
}

section.two .container {
    grid-template-areas: '.. content';
}

/* Hero Styles */
.hero {
    width: 100%;
    height: 100%;
    grid-area: content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Heading Styles */
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    line-height: 100px;
    font-weight: 700;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    font-family: inherit;
    display: block;
    width: 100%;
}

h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
}

/* Paragraph Styles */
p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    display: block;
    width: 100%;
}

